fastapi
uvicorn
pandas
langchain
langchain-community
langchain-huggingface
langchain-google-genai
langchain-chroma
chromadb
sentence-transformers
google-generativeai
python-dotenv
openpyxl
streamlit>=1.40.0
pysqlite3-binary
